<div class="col">
  <h2>Clientes</h2>
  <button class="btn btn-primary">Agregar Cliente</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td class="hidden">{{ cliente.idcliente }}</td>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.apellido }}</td>
        <td>{{ cliente.dni }}</td>
        <td>{{ cliente.direccion }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>
          <button class="btn btn-success">
            Editar
          </button>
          <button class="btn btn-danger" (click)="deleteCliente(cliente)">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>